/* .video-card-wrapper {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
} */

.video-card-container {
  width: 24vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.video-img-container {
  width: 24vw;
}
.thumbnail-img {
  width: 100%;
  height: 30vh;
}

.video-avatar-title-wrapper {
  display: flex;
  align-items: center;
}

.video-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
}

.video-card-content {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 1rem;
}

.video-icons-container {
  display: flex;
}

.video-like-icon,
.video-play-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.video-card-creator-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  border: 2px solid var(--blue-color);
}

.video-creator-views-date-wrapper {
  padding-left: 6.5rem;
  padding-bottom: 2rem;
}

.video-creator,
.video-views,
.video-time {
  font-size: 1rem;
  font-weight: 700;
}

.video-views,
.video-circle {
  margin-right: 2px;
}

.video-circle {
  font-size: 4px;
  color: var(--blue-color);
}

.video-views-time-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
