@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

:root {
  --login-color: #2b0e64;
  --red-color: #ff0000;
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #24a0ed;
}
